h1.class-title {
	font-size: 24pt;
}

.picture {
	text-align: center;
}

.picture img {
	max-width: 150px;
	max-height: 150px;
}

.price-box {
	background-color: #eee;
	border-radius: 10px;
	border: 1px solid #000;
	text-align: center;
	padding: 5px;
}

.price {
	font-size: 48px;
	line-height: normal;
	font-weight: bold;
	margin-top: 10px;
}

.register-now, 
.register-now:visited, 
.register-now:active {
	background-color: #3AA5E8;
	text-shadow: none;
	color: #fff;
	font-size: 18px;
	line-height: normal;
}

.register-now:hover {
	background-color:  #348CC2;
	color: #fff;
}

.help {
	font-size: 10px;
	text-align: right;
	padding-right: 5px;
}